.orddd_pr_modal {
    z-index: 9999;
    background: #00000082;
    overflow: unset;
    display: none;
}

.orddd_pr_modal.open {
    display: block;
}

.orddd_pr_modal .orddd_pr_modal_body {
    height: auto;
    background: #fff;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.ordd_pr_modal_head {
    padding: 1rem;
    border-bottom: 2px solid #eaeaea;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.ordd_pr_modal_content {
    padding: 1rem;
}
.rp_shipping_button {
    display: none;
}

#rp_shipping_calculator p.shipping_postcode label {
    font-weight: bold !important;
    position: relative;
    margin-bottom: 15px;
    text-transform: uppercase;
    /* width: 178px; */
}
#rp_shipping_calculator p.shipping_postcode input {
    margin-left: 0;
    position: relative;
    height: 44px !important;
    margin-top: -5px;
}

#rp_shipping_calculator .shippingmethod_container {
    margin: 2rem 0 !important;
}

.product-order-delivery-date-toggle > a {
    font-family: 'Montserrat',sans-serif;
    line-height: 1.2;
    text-transform: inherit;
    color: #a29061;
    font-size: 20px;
}

.product-order-delivery-date-toggle {
    margin: 20px 0 0;
    padding: 15px 20px;
    border: 1px solid #e4e4e4;
    border-bottom: none;
}

#rp_shipping_calculator a.close-link {
    display: block;
    text-align: right;
}

button#calculate_delivery_date {
    float: unset;
    vertical-align: top;
}
.woocommerce div.product .summary.entry-summary form.cart {
    margin-top: 0;
}

@media only screen and (max-width: 500px) {
    #rp_shipping_calculator .shippingmethod_container {
        margin: 10px 0 !important;
    }
    #rp_shipping_calculator .shippingmethod_container ul {
        margin-top: 0 !important;
    }
    .orddd_pr_modal .orddd_pr_modal_body {
        margin-bottom: 0 !important;
    }
}

button.orddd_pr_trigger {
    background: none;
    border: none;
    padding: 0;
    width: 100%;
    height: 86px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

button.orddd_pr_trigger:hover,
button.orddd_pr_trigger:focus {
    background-color: transparent;
    border-color: transparent;
}